-# .podloveplayer{ data: { mp3_url: episode.mp3_url,
-#                         poster: episode.artwork_url,
-#                         title: episode.title,
-#                         link: episode.episonde_url,
-#                         description: episode.description,
-#                         published_on: episode.published_on,
-#                         file_size: episode.file_size,
-#                         #duration: episode.duration,
-#                         variant: "xl"
-#                       } }

- # https://docs.podlove.org/podlove-web-player/templating.html


%div{id: "player#{episode.id}"}
  %root{:style => "max-width:2950px;min-width:60px;"}
    .tablet:px-6.tablet:pt-6.mobile:px-4.mobile:pt-4.flex.flex-col
      .flex-col.items-center.mobile:flex.tablet:hidden
        -# %show-title.text-sm
        -# %episode-title.text-base.mb-2
        -# %subscribe-button.mb-4.mobile:flex.tablet:hidden
        -# %poster.rounded-sm.w-48.shadow.overflow-hidden
        %divider.w-full.my-6
      .tablet:flex.flex-grow
        .w-64.mobile:hidden.tablet:block.tablet:mr-6
          %poster.rounded-sm.shadow.overflow-hidden
        .w-full
          .hidden.tablet:block
            -# %show-title.text-base
            -# %episode-title.text-xl.desktop:text-2xl
            %divider.w-full.my-4
          .flex.items-center.justify-between
            .block
              %play-state{:on => "active"}
                %speed-control.block.hidden.tablet:block
            .flex
              %play-state{:on => "active"}
                %chapter-previous.mx-2.block
              %play-state{:on => "active"}
                %step-backward.mx-2.block
              %play-button.mx-2.block{:label => "Podcast abspielen"}
              %play-state{:on => "active"}
                %step-forward.mx-2.block
              %play-state{:on => "active"}
                %chapter-next.mx-2.block
            .block
              %play-state{:on => "active"}
                %volume-control.flex.items-center.hidden.tablet:flex
          .flex.w-full
            %progress-bar
          .flex.w-full.-mt-2
            .text-left{:class => "w-3/12"}
              %timer-current.text-sm
            .text-center{:class => "w-6/12"}
              %play-state{:on => "active"}
                %current-chapter.text-sm.truncate
            .text-right{:class => "w-3/12"}
              %timer-duration.text-sm
      %divider.w-full.mt-6.mb-3
      .flex.justify-between
        .flex.mobile:w-full.justify-between{:class => "tablet:w-3/12 desktop:w-3/12"}
          -# %tab-trigger{:tab => "shownotes"}
          -#   %icon{:type => "info"}
          -# %tab-trigger{:tab => "chapters"}
          -#   %icon{:type => "chapter"}
          -# %tab-trigger{:tab => "transcripts"}
          -#   %icon{:type => "transcripts"}
          -# %tab-trigger{:tab => "files"}
          -#   %icon{:type => "download"}
          -# %tab-trigger{:tab => "playlist"}
          -#   %icon{:type => "playlist"}
          %tab-trigger{:tab => "share"}
            %icon{:type => "share"}
        %subscribe-button.mt-1.mobile:hidden.tablet:flex
    .w-full.relative.overflow-hidden
      %tab{:name => "shownotes"}
        %tab-shownotes
      -# %tab{:name => "chapters"}
      -#   %tab-chapters
      -# %tab{:name => "transcripts"}
      -#   %tab-transcripts
      -# %tab{:name => "files"}
      -#   %tab-files
      -# %tab{:name => "playlist"}
      -#   %tab-playlist
      %tab{:name => "share"}
        %tab-share
      %tab-overflow
    %error
:javascript
  window.podlovePlayer(
    "#player#{episode.id}",
    // EPISODE DATA
    {
      version: 5,
      show: {},
      title:           "#{episode.title}",
      subtitle:        "subtitle",
      summary:         "asdfasdf", //episode.description,
      publicationDate: "#{episode.published_on_iso8601}",
      poster:          "#{episode.artwork_url}",

      duration: "#{episode.duration_iso8601}",
      link:     "#{episode.episonde_url}",

      audio: [{
        url:      "#{episode.mp3_url}",
        size:     "#{episode.file_size}",
        title:    "MP3 Audio (mp3)",
        mimeType: "audio/mpeg"
      }],

    },
    // PLAYER CONFIG
    {
      base: "/packs/media/player/",
      theme: {
        "tokens": {
          "brand": "#166255",
          "brandDark": "#166255",
          "brandDarkest": "#1A3A4A",
          "brandLightest": "#E5EAECFF",
          "shadeDark": "#807E7C",
          "shadeBase": "#807E7C",
          "contrast": "#000",
          "alt": "#fff"
        },
      },
      "subscribe-button": {
        "feed": "#{episode.current_setting.rss_url}",
        "clients": [{
            "id": "apple-podcasts",
            "service": "id1546458413"
          },
          {
            "id": "castro"
          },
          {
            "id": "deezer",
            "service": "deezer-id"
          },
          {
            "id": "downcast"
          },
          {
            "id": "google-podcasts",
            "service": "#{episode.current_setting.google_url}"
          },

          {
            "id": "itunes"
          },

          {
            "id": "overcast"
          },
          {
            "id": "pocket-casts",
            "service":"#{episode.current_setting.rss_url}"
          },

          {
            "id": "rss"
          }
        ]
      },
      "share": {
        "channels": ["facebook", "twitter", "mail", "link"],
        "outlet": "/share.html",
        "sharePlaytime": true
      }
    }
  );
