.d-block.d-md-flex.podcast-entry.bg-white.mb-5{"data-aos" => "fade-up"}
  = link_to image_tag(episode.artwork_url, class: "image img-thumbnail mx-auto d-block", alt: "episode artwork"), episode.episonde_url
  .text
    %h3.font-weight-light
      = link_to "Episode #{episode.number}: #{episode.title}", episode.episonde_url
    .text-white.mb-3
      %span.text-black-opacity-05
        %small
          %span.sep
            = episode.published_on

    %p.mb-4
      = render_markdown truncate(episode.description, length: 100) { link_to " Mehr",  episode.episonde_url }
      .player
        %audio{:controls => "", :preload => "none", :style => "max-width: 100%"}
          %source{:src => episode.mp3_url, :type => "audio/mp3"}

  - if current_user&.admin?
    .p.mt-3
      = edit_button  edit_admin_episode_path episode
