.card
  %h3
    = episode.title
    %span.text-muted= episode.published_on
    %button{class: "btn", "data-target" => "#description-#{episode.id}", "data-toggle" => "collapse"} collapse
  %div{id: "description-#{episode.id}", class: "collapse"}
    = episode.description
