.podcast-entry.bg-white.mb-5.p-2
  .row
    .col-md-3
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{:frameborder => "0",  src: "http://www.youtube.com/embed/#{episode.youtube_key}" }
    .col-md
      %h3.font-weight-light
        = link_to "Episode #{episode.number}", episode.episonde_url
      %h4.font-weight-light
        = link_to episode.title, episode.episonde_url
      .text-white.mb-3
        %span.text-black-opacity-05
          %small
            %span.sep
              = episode.published_on

      %p.mb-4
        = render_markdown truncate(episode.description, length: 200) { link_to " mehr", episode.episonde_url, class: "font-weight-bold" }

      -# .player
      -#   = render "shared/audio", episode: episode

  - if current_user&.admin?
    .p.mt-3
      = edit_button  edit_admin_episode_path episode
