.d-block.d-md-flex.podcast-entry.bg-white.mb-5{"data-aos" => "fade-up"}
  %a{:href => episode.episonde_url, class: "image" , :style => "background-image: url(#{episode.artwork_url});"}
  .text
    %h3.font-weight-light
      %a{:href => episode.episonde_url }= "Episode #{episode.number}: #{episode.title}"
    .text-white.mb-3
      %span.text-black-opacity-05
        %small
          %span.sep
            = episode.published_on

    %p.mb-4
      = render_markdown truncate(episode.description, length: 200) { link_to " Mehr",  episode.episonde_url }
    .player
      %audio#player2{:controls => "", :preload => "none", :style => "max-width: 100%"}
        %source{:src => episode.mp3_url, :type => "audio/mp3"}

  - if current_user&.admin?
    .p.mt-3
      = edit_button  edit_admin_episode_path episode
