= favicon_link_tag asset_pack_path("media/images/apple-touch-icon.png"), rel: "apple-touch-icon", type: "image/png"
= favicon_link_tag asset_pack_path("media/images/favicon.ico"), rel: "shortcut icon"

- %w(57 72 76 114 120 144 152 180).each do |size|
  = favicon_link_tag asset_pack_path("media/images/apple-touch-icon-#{size}x#{size}.png"), rel: "apple-touch-icon",
    type: "image/png", sizes: "#{size}x#{size}"
