= f.input :title
= show_button "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", "Markdown Help"
= f.input :description, as: :text, input_html: { cols: 5, rows: 10 }
= f.input :nodes, as: :text, input_html: { cols: 5, rows: 10 }
= f.input :youtube_key,  hint: "YouTube Id: e.g.: https://www.youtube.com/watch?v=ABC => ABC is the key"
= f.input :published_on, as: :date, html5: true
= f.input :active, as: :boolean
