= f.input :title
= show_button "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", "Markdown Help"
= f.input :description, as: :text, input_html: { cols: 5, rows: 10 }
= f.input :nodes, as: :text, input_html: { cols: 5, rows: 10 }
= f.input :chapter_marks, as: :text, input_html: { cols: 5, rows: 10 }, hint: "chapter marks format: 00:00:41.018 Intro"
= f.input :file_url, hint: "Path of the mp3 file"
= f.input :file_size, hint: "file size in bytes"
= f.input :file_duration, hint: "Length of the episode into seconds"
= f.input :artwork_url, hint: "Path for episodes logo"
= f.input :audio, as: :file
= f.input :published_on, as: :date, html5: true
= f.input :active, as: :boolean
