-# frozen_string_literal: true
= simple_form_for [:admin, @episode] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :slug, disabled: true, hint: 'You cannot change the slug.'
    = f.input :description
    = f.input :file_url
    = f.input :published_at

  .form-actions
    = submit_button
