.bg-ligh

  %h1 Episodes
  %table.table.table-striped.table-bordered
    %thead.thead-dark
      %tr
        %th Published
        %th Epsiode
        %th Cover
        %th Title
        %th Size
        %th Duration
        %th Filename
        %th Downloads
        %th Published
        %th
        %th
    %tbody
      - @episodes.each do |episode|
        %tr{id: "episode-#{episode.id}", class: "text-nowrap #{'inactive' unless episode.published?}"}
          %td= show_boolean_value episode.published?
          %td= episode.number
          %td= cl_image_tag(episode.image.key, width: 50, crop: :scale) if episode.image
          %td= episode.title
          %td= episode.audio_size_formatted
          %td= episode.duration_formatted
          %td= episode.audio_filename_formatted
          %td= episode.downloads_count
          %td= episode.published_on
          %td= edit_button edit_admin_episode_path(episode)
          %td= show_button episode_path(episode)
  %br
  = add_button  new_admin_episode_path
