.site-section.bg-light
  .container
    .row
      .col-md-12
        %h1 New Episode
        = simple_form_for(@episode_creator, url: admin_episodes_path,method: :post,html: { class: 'form-horizontal' })do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

          .form-inputs
            = f.input :number
            = f.input :title
            = f.input :description, as: :text, input_html: { cols: 5, rows: 10 }
            = f.input :nodes, as: :text, input_html: { cols: 5, rows: 10 }
            = f.input :file_url, hint: "Path of the mp3 file"
            = f.input :file_size, hint: "file size in bytes"
            = f.input :file_duration, hint: "Length of the episode into seconds"

            = f.input :artwork_url, hint: "Path for episodes logo"

            = f.input :published_on, as: :date, html5: true
            = f.input :active, as: :boolean
          .form-actions
            = submit_button

        = back_button admin_episodes_path
