.site-section.bg-light
  .container
    .row
      .col-md-12
        %h1 New Episode
        = simple_form_for(@episode_creator, url: admin_episodes_path,method: :post,html: { class: 'form-horizontal' })do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

          .form-inputs
            = f.input :number
            = render "form", f: f
          .form-actions
            = submit_button

        = back_button admin_episodes_path
