%p#notice= notice

%p
  %b title:
  = @episode.title
%p
  %b slug:
  = @episode.slug
%p
  %b description:
  = @episode.description
%p
  %b file_url:
  = @episode.file_url
%p
  %b published_at:
  = @episode.published_at

=  edit_button edit_admin_episode_path(@aepisode)
\|
= back_button admin_episodes_path
