!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title Wartenberger - der Podcast für Wartenberg
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "Podcast Wartenberg Oberbayern", :name => "description"}/
    %meta{:content => "Podcast, Wartenberg, Oberbayern, München, Bayern, Regional", :name => "keywords"}/
    %meta{:content => "Michael Deimel", :name => "author"}/
    %link{:href => "/public/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "public/apple-touch-icon-144-precomposed-2.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/

    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application', media: 'all'
  %body{:class => "#{controller_name} #{action_name}"}

    %ul.nav.navbar-light.bg-light
      %a.navbar-brand{:href => root_path} Wartenberger
      %li.nav-item
        %a.nav-link{:href => episodes_path} Episoden
      %li.nav-item
        %a.nav-link{:href => about_path } Über uns
      - if true # admin
        %li.nav-item
          %a.nav-link{:href => admin_episodes_path} Administration
        %li.nav-item
          %a.nav-link{:href => "#"} Settings
    .container-fluid
      .row
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{class: "alert alert-dismissible fade show alert-#{name == :notice ? "success" : "warning"}", role: "alert"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
      .row
        .mt-8
          &nbsp;
      .row
        .col-md-8
          = yield
        .col-md-3.col-md-offset-1
          .sidebar
            .card-header
              Wartenberger podcasting for geeks
            .card
              = image_pack_tag 'media/images/logo.png', class: "img-thumbnail rounded"


            .card-body
              %p.card-text
                This is a little demo of Octopod - podcast delivery for geeks in it's current state of development.
                You will find all the information you need on the project homepage on Github.

  %footer.footer
    .container
      %span.text-muted= link_to "Impressum", imprint_path
      |
      %span.text-muted= link_to "Datenschutz", privacy_path
