!!!
%html{lang: current_setting.language}
  %head
    %title= current_setting.title
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => current_setting.short_description, :name => "description"}/
    %meta{:content => current_setting.seo_keywords.join(",") , :name => "keywords"}/
    %meta{:content => current_setting.author , :name => "author"}/
    %link{:href => "/public/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "public/apple-touch-icon-144-precomposed-2.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => current_setting.canonical_url, :rel => "canonical"}/

    = auto_discovery_link_tag :rss, episodes_url(:format => :rss)
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body{id: "main", :class => "#{controller_name} #{action_name}"}
    .site-wrap
      %header.header-navbar.site-navbar.py-4{:role => "banner"}
        .container
          .row.align-items-center
            .col-9{"data-aos" => "fade-down"}
              %h1
                %a.text-white.h2{:href => root_path }
                  = current_setting.title
            .col-3{"data-aos" => "fade-down"}
              %nav.site-navigation.position-relative.text-right.text-md-right{:role => "navigation"}
                %ul.nav.navbar-light
                  %li.nav-item
                    %a.text-white.nav-link{:href => episodes_path} Archiv
                  %li.nav-item
                    %a.text-white.nav-link{:href => about_path } Über uns
                  - if user_signed_in?
                    - if current_user&.admin?
                      = link_to "Administration", admin_episodes_path, class: "nav-link text-white"
                      = link_to "Settings", "#", class: "nav-link"
                    = link_to "Account", edit_user_registration_path, class: "nav-link text-white"
                    = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white"
                  - else
                    -#= link_to "Login", new_user_session_path, class: "nav-link text-white"

      .container-fluid.content
        = yield
      %footer.site-footer
        .container
          .row
            .col-lg-4
              .mb-5
                %h3.footer-heading.mb-4 Wartenberger Podcast
                %p
                  = current_setting.short_description

            .col-lg-4.mb-5.mb-lg-0
              .row.mb-5
                .col-md-12
                  %h3.footer-heading.mb-4 Navigation
                .col-md-6.col-lg-6
                  %ul.list-unstyled
                    %li
                      %a{:href => root_path } Home
                    %li
                      %a{:href => episodes_path } Archiv
                    -# %li
                    -#   %a{:href => new_user_session_path } Login
                .col-md-6.col-lg-6
                  %ul.list-unstyled
                    %li
                      %a{:href => about_path} Über Uns
                    %li
                      %a{:href => imprint_path} Impressum
                    %li
                      %a{:href => privacy_path} Datenschutz

            .col-lg-4.mb-5.mb-lg-0
              .mb-5
                %h3.footer-heading.mb-4 Follow Us
                %div
                  %a.pl-0.pr-3{:href => "#"}
                    %span
                      %i.fab.fa-facebook
                  %a.pl-3.pr-3{:href => "#"}
                    %span
                      %i.fab.fa-twitter
                  %a.pl-3.pr-3{:href => "#"}
                    %span
                      %i.fab.fa-instagram
                  %a.pl-3.pr-3{:href => "#"}
                    %span
                      %i.fas.fa-podcast
                  %a.pl-3.pr-3{:href => "#"}
                    %span
                      %i.fab.fa-spotify

          .row.pt-5.mt-5.text-center
            .col-md-12
              %p
                Copyright ©
                = Date.current.year
                %a{:href => "mailto:admin@wartenberger.de", :target => "_blank"}
                  Wartenberger
